<app-persona-ingreso></app-persona-ingreso> 
<app-qr-code></app-qr-code>
<div class="container-fluid">
  <div class="row">    
    <div class="col-12 col-sm-5 col-lg-3">      
      <div class="d-flex flex-column">                        
        <div class="m-2 d-flex justify-content-start">
          <div class="d-flex justify-content-start">            
              <button class="btn-menu d-flex justify-content-between align-items-center"
                data-bs-toggle="dropdown">
                <div>
                  <div class="barras d-flex justify-content-between">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>                
                </div>
                <h4 class="my-2">Menu</h4>
              </button>       
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"
                  data-bs-toggle="modal" data-bs-target="#modal">
                    Angregar ingreso
                  </a>
                </li>              
                <li>
                  <a class="dropdown-item" href="#"
                  data-bs-toggle="modal" data-bs-target="#qrgenerador">
                    Descargar QR
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>                
                <li>
                  <a class="dropdown-item" href="#"
                  (click)="mostarOcultarFichada()" [innerHTML]="menuMostarOcultar">                    
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>                                                  
                  <p class="dropdown-item-text">Seleccionar Camara:</p>                  
                  <select #selectList (change)="selectCamera(selectList.value)" class="dropdown-item">
                    <option *ngFor="let camera of cameras" value={{camera.label}}>
                      {{ camera.label }}
                    </option>
                  </select> 
                </li>
              </ul>            
          </div>          
        </div>
        <div class="d-flex justify-content-center" style="position: relative;">
          <zxing-scanner #camera
            [enable]="scannerEnabled"
            [device]="myDevice"
            (camerasFound)="camerasFoundHandler($event)"
            (scanSuccess)="scanSuccessHandler($event)"
          ></zxing-scanner>
          <div id="marco"></div>
          <div id="blanco" [ngClass]="capturando" ></div>
        </div>
        <div *ngIf="mensaje" class="m-1 d-flex justify-content-center" id="psaludo">
          <p style="font-size: small;">{{mensaje}}</p>
        </div>
        <div class="row flex-row card mx-2 pt-2 justify-content-center p-2">
          <span class="col-12 m-2 d-flex justify-content-between">
            <i class="bi bi-hand-index"></i>
            <p>Escanee el QR</p>          
            <i class="bi bi-hand-index"></i>
          </span>     
          <span class="col-12 m-2 d-flex justify-content-center">            
            <p class="m-2">O ingrese numero de legajo</p>      
          </span>              
          <span class="col-12 m-2 d-flex justify-content-center">            
            <input [(ngModel)]="inputLegajo" type="numer" placeholder="00000" #inputBox (keyup.enter)="scanSuccessHandler(inputBox.value)">
          </span>     
        </div>
        <div *ngIf="saludo && ultimaNombre" class="row flex-row card m-2 pt-2">          
          <div class="d-flex justify-content-center" id="psaludo">
            <p>{{saludo}} {{ultimaNombre}}!</p>            
          </div>
        </div>                
      </div>      
    </div> 
    <div class="col-12 col-sm-7 col-lg-9 mt-2">   
      <app-presentes [lista]="listaFichadas"></app-presentes>      
      <app-fichadas [listaFichadas]="listaFichadas" *ngIf="fichadaShow"></app-fichadas>
    </div>    
  </div>
</div>