<div class="table-responsive">      
    <table class="table">
        <thead>
            <tr class="table d-flex" id="cabecera">
                <th class="table d-flex justify-content-center m-0">Fecha y Hora</th>
                <th class="table d-flex justify-content-center m-0">Nombre</th>
                <th class="table d-flex justify-content-center m-0">Estado</th>
                <th class="table d-flex justify-content-center m-0">Legajo</th>
            </tr>
        </thead>
        <tbody>
            <tr [className]="fichada.fichadaEstado + ' table d-flex m-0'" *ngFor="let fichada of listaFichadas">
                <td class="table d-flex justify-content-center align-items-center m-0">{{fichada.fichadaFH | date: "dd/MM/yyyy HH:mm"}}</td>
                <td class="table d-flex justify-content-center align-items-center m-0">{{fichada.persona_personaNombre}} {{fichada.persona_personaApellido}}</td>
                <td class="table d-flex justify-content-center align-items-center m-0">{{fichada.fichadaEstado}}</td>
                <td class="table d-flex justify-content-center align-items-center m-0">{{fichada.persona_personaLegajo}}</td>
            </tr>
        </tbody>
    </table>
</div>   